.header {
    color:blueviolet; 
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.nav-items{
    padding: 0px 20px;
    text-decoration: none;

}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 25px;
    
}

.nav-items > ul >li {
    margin: 10px;
    padding: 10px;
}

.cart-logo{
    width: 55px;
}

.search{
    font-size: medium;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.search-btn{
    margin: 0 10px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 300px;
    margin: 10px;
    padding: 10px 20px;
    height: 600px;
   
}

.card:hover{
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    border: 0.5px solid black;
    cursor: pointer;
}

.card-container{
    padding: 2px 15px;
}

.restaurant-img{
    width: 100%;
}

.star-image{
    width: 30px;
    display: flex;
}

.restaurant-container{
    display: flex;
    flex-wrap: wrap;  
}

.restaurant-link{
    text-decoration: none;
    color: inherit;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    padding: 30px 15px;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 300px;
    margin: 10px;
    padding: 10px 20px;
    background-color: beige;
    height: 600px;
}

.login{
    padding: 0 20px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;

}

.menu{
    
    
}

.menu-header{
    display: flex;
    justify-content: center;
}

.menu-sub-header{
    display: flex;
    justify-content: center;
}
.costForTwo{
    display: flex;
    justify-content: center;
}


.menu-items{
    display: flex;
    justify-content: center;
}

/* .menu-header-combined{
    display: flex;
    justify-content: center;
} */

.filter{
    /* display: flex; */
    /* justify-content: space-between; */
}

.user-card{
    box-shadow: 0 9px 12px 0 rgba(0, 0, 0, 0.7);
    width: 33%;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }